<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :station_id %><br>
    <%= f.collection_select(:station_id, Station.where("bike_quantity <= ?", 9), :id, :ulica) %>
   </div>

  <div class="field">
    <%= f.label :bike_status %><br>
    <%= f.text_field :bike_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
