<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @bike.station_id %>
</p>

<p>
  <strong>Bike status:</strong>
  <%= @bike.bike_status %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
